<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>SprintDesign</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
</head>
<body>
	<!-- Header -->
	<header>
		<div class="container">
			<!-- Logo and Site Name -->
			<div class="logo">
					<h1>SOME <span>TEXT</span></h1>
			</div>
			<!-- Buttons -->
			<div class="btn-blue">
  			<a class="btn btn-1">Hover me</a>
  			<a class="btn btn-1">Hover me</a>
  			<a class="btn btn-1">Hover me</a>
    	</div> 
			<!-- Personal Info -->
    	<div class="personal">
    		<a href="https://github.com/AniMoure">Anisoara</a>
    		<%= link_to image_tag('avatar.png', :class => "avatar_img", :alt => "Avatar"), "https://github.com/AniMoure", target: :_blank %>
    	</div>
		</div>

	</header>
</body>
</html>